html {
    font-size: 62.5%;
}

body {
    font-family : "Proxima Nova",Arial,Helvetica,Sans-Serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 2.0rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25rem;
    color: #000;
    margin-bottom: 6px;
    @include breakpoint($medium) {
        > span {
            padding: 2px 2px 0 2px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }
        margin: 8px 0 16px 0;
    }
}

h2 {
    letter-spacing: 0.15rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
}

p, h2 {
    color: #4a4f54;
    margin-bottom: 18px;
}